body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}

p {
  margin-block-end: 0.25em;
  margin-block-start: 0.25em;
}
